:root {
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #385d7c;
    --myred: rgb(255, 171, 171);
    --myyellow: rgb(247, 226, 132);
    --mygreen: rgb(142, 233, 106);
    --mygrey: rgb(187, 187, 187);
    --cells: 100;
    font-size: 2vh;
}

@keyframes blowup {
    0% {
        font-weight: normal;
        color: white;
    }

    5% {
        font-weight: bold;
        color: var(--myyellow);
    }

    100% {
        font-weight: normal;
        color: white;
    }
}

body {
    margin: auto 0;
    padding: 0;
}

table {
    display: flex;
    flex-direction: column;
}

tr {
    display: flex;
    align-items: center;
    justify-content: center;
}

td {
    align-items: center;
    display: flex;
    flex: 1 1;
    justify-content: center;
    border-spacing: 2px;
    margin: 1px;
    height: 3rem;
    max-width: 3rem;
    font-size: 2.7rem;
    text-transform: uppercase;
    user-select: none;
    background-color: #ffffff;
    color: rgb(109, 109, 109);
    overflow-y: hidden;
    position: relative;
    top: 0px;
}

td.stats {
    max-width: 15rem;
    justify-content: left;
    background-color: grey;
}

td.butd {
    transition: top 0.5s;
    top: 3rem;
}

td.butd.bottom {
    opacity: 0;
}

td.butu {
    transition: top 0.5s;
    top: -3rem;
}

td.butu.top {
    opacity: 0;
}

#main {
    position: relative;
}

input {
    opacity: 0;
    height: 0px;
}

#score {
    color: white;
    text-align: center;
    padding-top: 0.5rem;
    font-size: 8rem;
}

#score.blowup {
    animation: blowup 2s ease;
}

.wakeoff {
    filter: grayscale();
}

.wakeon {
    filter: none;
}

.indent1 {
    grid-column: span 1;
    border: none;
}

.indent2,
.indent3 {
    grid-column: span 3;
    border-radius: 5px;
    text-align: center;
    padding-top: 0.6rem;
    background-color: #cfcda8;
}

.misplaced td {
    background-color: var(--myyellow);
    color: black;
}

.foundagain td {
    background-color: var(--mygrey);
    color: black;
}

.found td {
    background-color: var(--mygreen);
    color: black;
}

.bad td,
.badstat {
    background-color: var(--myred);
    color: black;
}

.good td,
.goodstat {
    background-color: var(--mygreen);
    color: black;
}

.foundbar {
    background-color: var(--mygreen);
}

.matchedbar {
    background-color: var(--myyellow);
}

.upbut,
.downbut {
    background-color: #00000000;
    background-image: url(../images/arrow_up_circle.svg);
    background-size: cover;
    background-position: center;
    margin-bottom: 0.3em;
}

.downbut {
    background-image: url(../images/arrow_down_circle.svg);
    margin-top: 0.3em;
}

#main.gameover .upbut,
#main.gameover .downbut {
    display: none;
}  