        :root {
        	font-family: sans-serif;
        	font-size: 100%;
        	margin: 2vw;
        	background-image: url("submit.svg");
        	background-repeat: no-repeat;
        	background-position: top;
        	background-size: auto 7em;
        	padding-top: 7em;
        }

        body {
        	text-align: center;
        }

        div,
        input {
        	margin: 2vw 0.5em 0 auto;
        	font-size: 105%;
        }

        textarea {
        	margin: 2vw auto 0 auto;
        	font-size: 120%;
        	width: 90vw;
        }

        button {
        	width: 5em;
        	margin: 2vw auto 0 auto;
        }

        .menu-item {
        	min-width: 100%;
        	padding: 1em;
        }

        .button-choice {
        	list-style-type: none;
        	margin: 25px 0 0 0;
        	padding: 0;
        }

        .button-choice li {
        	float: left;
        	margin: 0 5px 5px 0;
        	min-width: 6em;
        	height: 1.8em;
        	position: relative;
        }

        .button-choice label,
        .button-choice input {
        	display: block;
        	position: absolute;
        	top: 0;
        	left: 0;
        	right: 0;
        	bottom: 0;
        }

        .button-choice input[type="radio"] {
        	opacity: 0.01;
        	z-index: 100;
        }

        .button-choice input[type="radio"]:checked+label,
        .Checked+label {
        	background: rgb(206, 197, 255);
        }

        .button-choice label {
        	padding: 5px;
        	border: 1px solid #CCC;
        	cursor: pointer;
			white-space: nowrap;
			overflow: hidden;
        }

        .button-choice label:hover {
        	background: #DDD;
        }