:root {
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #385d7c;
}

body {
    margin: 0;
    padding: 0;
}

table {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

tr {
    display: flex;
    align-items: center;
    justify-content: center;
}

td {
    align-items: center;
    display: flex;
    flex: 1 1;
    justify-content: center;
    border-spacing: 2px;
    margin: 1px;
    height: 1.8rem;
    max-width: 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    user-select: none;
    background-color: #ffffff;
    color: rgb(109, 109, 109);
    transform: rotateX(0deg);
    transition-property: background-color, color, transform;
    transition-duration: 1s;
}

input {
    opacity: 0;
    height: 0px;
}

#pageselect {
    font-size: 1.5em;
    width: 100%; 
    text-align: center; 
    color: rgb(209, 209, 209); 
    padding-top: 0.5rem;
}

#boxes {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
}

.box {
    color: rgb(221, 221, 221);
    width: 1em;
    margin: 3px;
}

.wakeoff {
    filter: grayscale();
}

.wakeon {
    filter: none;
}

#keyboard {
    width: calc(20 * 1.1rem);
    max-width: 100%;
    padding-top: 0.5em;
    display: grid;
    grid-template-columns: repeat(20, 1rem);
    grid-template-rows: repeat(3, 2.5rem);
    grid-gap: 0.1em;
    margin: auto;
}

.key {
    border-radius: 5px;
    grid-column: span 2;
    text-align: center;
    padding-top: 0.6rem;
    background-color: #fffde7;
}

.indent1 {
    grid-column: span 1;
    border: none;
}

.indent2,
.indent3 {
    grid-column: span 3;
    border-radius: 5px;
    text-align: center;
    padding-top: 0.6rem;
    background-color: #cfcda8;
}

#pageselect.gameover {
    display: none;
}

#keyboard.gameover {
    display: none;
}

.misplaced {
    background-color: rgb(247, 226, 132);
    color: black;
    transform: rotateX(360deg);
}

.found {
    background-color: rgb(142, 233, 106);
    color: black;
    transform: rotateX(360deg);
}

.wrong {
    background-color: rgb(187, 187, 187);
    color: white;
    transform: rotateX(0deg);
}

.bad td{
    background-color: rgb(255, 171, 171);
    color: rgb(0, 0, 0);
}