:root {
    font-family: sans-serif;
    box-sizing: border-box;
}

table {
    display: flex;
    flex-direction: column;
}

tr {
    display: flex;
    align-items: center;
    justify-content: center;
}

td {
    align-items: center;
    display: flex;
    flex: 1 1;
    justify-content: center;
    border-spacing: 2px;
    border-color: rgb(187, 187, 187);
    border-style: solid;
    margin: 1px;
    height: 1.5rem;
    max-width: 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    user-select: none;
}

.misplaced {
    background-color: rgb(247, 226, 132);
    border-color: rgb(247, 226, 132);
    color: black;
}

.found {
    background-color: rgb(142, 233, 106);
    border-color: rgb(142, 233, 106);
    color: black;
}

.wrong {
    background-color: rgb(187, 187, 187);
    color: white;
}

input {
    opacity: 0;
    height: 0px;
}

#boxes {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.box {
    color: white;
    width: 1em;
    border-color: rgb(187, 187, 187);
    border-style: solid;
    border-width: 1px;
}

.wakeoff {
    filter: grayscale();
}

.wakeon {
    filter: none;
}

#keyboard {
    width: calc(20 * 1.2em);
    max-width: 100%;
    padding: 1px;
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(20, 1rem);
    grid-template-rows: repeat(3, 2.5rem);
    grid-gap: 0.2em;
    margin: auto;
}

.key {
    border: 2px solid rgb(189, 189, 189);
    border-radius: 5px;
    grid-column: span 2;
    text-align: center;
    padding-top: 0.6rem;
}

.indent1 {
    grid-column: span 1;
    border: none;
}

.indent2,
.indent3 {
    grid-column: span 3;
    border: 2px solid rgb(189, 189, 189);
    border-radius: 5px;
    text-align: center;
    padding-top: 0.6rem;
    background-color: rgb(143, 142, 142);
    color: white;
}